:root {
  --green: #386400;
  --gold: #e4c75a;
  --offwhite: #faf8f3;
  --charcoal: #222222;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: var(--offwhite);
  color: var(--charcoal);
}
a {
  text-decoration: none;
  color: inherit;
}
